{# empty Twig template #}
<html>
    <head>
        <meta charset="utf-8"/>
        <title>NOT FOUND</title>
     
    </head>
    <body>
        <h1>Slim</h1>
        <div>
            NOT FOUND
        </div>
    </body>
</html>