<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3 - User</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
       {# <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'> #}
    </head>
    <body>
        <h1>Slim</h1>
        <div>
            You are in the user view 
            <p>
                Test <a href = "{{ path_for('user') }}" >test</a>
            </p>
        </div>
    </body>
</html>
        
